.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: crimson;
    position:absolute;
    animation-name: movecircle;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes movecircle{

    0% {
        right: 100%;

    }
    100%{
        right: -50px;
    }

}